@page "/products"

<nav class="panel">
    <div class="panel-heading">
        <div class="columns">
            <div class="column level-left">
                <h4>Produkte</h4>
            </div>
            <div class="column" style="display: inline-table;">
                <button class="button level-right" @onclick="AddRandomProduct">
                    <span class="icon">
                        <i class="fas fa-dice"></i>
                    </span>
                    <span>Produkt zufällig hinzufügen</span>
                </button>
            </div>
            <div class="column" style="display: inline-table;">
                <button class="button level-right" @onclick="AddProduct">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span>Produkt hinzufügen</span>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-block">
        @if (Products == null)
        {
            <p><em>Lade...</em></p>
        }
        else
        {
            <table class="table is-striped is-hoverable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Preis</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Products)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td>@product.Name</td>
                            <td>@product.Price &euro;</td>
                            <td>
                                <button class="button is-small" @onclick="() => EditProduct(product.Id)">
                                    <span class="icon"><i class="fas fa-edit"></i></span>
                                    <span>Bearbeiten</span>
                                </button>
                            </td>
                            <td>
                                <button class="button is-small is-danger" @onclick="() => DeleteProduct(product)">
                                    <span class="icon"><i class="fas fa-trash"></i></span>
                                    <span>Löschen</span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</nav>