@page "/ovens/create"
@inherits CreateOvenModel

<div class="panel">
    <div class="panel-heading">
        <p>Ofen hinzufügen</p>
    </div>
    <div class="panel-block">

    </div>
</div>
<BackButton></BackButton>