<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/94/ZF_logo_STD_Blue_3CC.svg" width="50" height="480">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-start">
            <NavLink Match="@NavLinkMatch.All" ActiveClass="is-active" class="navbar-item" href="/">Smashboard&reg;</NavLink>
            <NavLink Match="@NavLinkMatch.All" ActiveClass="is-active" class="navbar-item" href="/forms">Formen</NavLink>
            <NavLink Match="@NavLinkMatch.All" ActiveClass="is-active" href="/ovens" class="navbar-item">Öfen</NavLink>
        </div>
        <LoginDisplay/>
    </div>
</nav>