@page "/forms"
@inherits webapp.Pages.FormsModel

<h1>Formen</h1>

@if (Forms == null)
{
    <p><em>Lade...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
                <th>ActionsMax</th>
                <th>CastingCells</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var form in Forms)
            {
                <tr>
                    <td>@form.Id</td>
                    <td>@form.Actions</td>
                    <td>@form.ActionsMax</td>
                    <td>@form.CastingCells</td>
                </tr>
            }
        </tbody>
    </table>
}